<!DOCTYPE html>
<!--
    NJOY
-->
<html>
    <head>
        <!--
            NJOY
        -->
        <!--<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">-->
        <meta charset="UTF-8">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="css/components.css">
        <link rel="stylesheet" type="text/css" href="css/ui.css">
        <title>NJOY</title>
    </head>
    <body>
        <div class="teams">
            <div class="cross_button">
              <img src="img/cross_icon.svg"/>
            </div>
            <ul id="team_list">
            </ul>
            <form class="form">
                <h3>Créer une team</h3>
                <label for="team_name">Entrer le nom de la team</label>
                <input type="text" name="team_name" id="team_name" placeholder="Nom de la team"/>
                <button id="add_team" class="classic_button">Ajouter</button>
            </form>
        </div>
        <script type="text/template" id="team_template">
            <li data-id="<%= id %>">
                <div class="name"><%= label %></div>
                <button id="delete_button" data-id="<%= id %>" class="classic_button error delete_team_button">
                    <img src="img/delete_icon.svg"/>
                </button>
                <button id="more_button"  data-id="<%= id %>" class="classic_button more_score_button">+</button>
                <input type="number" class="score set_score_input" data-id="<%= id %>" value="<%= score %>"/>
                <button id="less_button" data-id="<%= id %>" class="classic_button less_score_button">-</button>
            </li>
        </script>
        <div class="video_asset player_audio_video">
            <div class="player_nav">
                <div class="center_assets">
                    <input class="seeker" id="seeker" name="seeker" type="range" max="100" min="0" step="1" value="0" >
                    <div class="icon play" id="play_pause_button">
                      <img src="img/play_icon.svg"/>
                    </div>
                    <div class="icon stop" id="quit_video_button">
                      <img src="img/stop_icon.svg"/>
                    </div>
                    <input class="seeker volume" id="volume" name="volume" type="range" value="50" max="100" min="0" step="1">
                </div>
            </div>
        </div>
        
        <div class="audio_asset player_audio_video">
            <div class="player_nav">
                <div class="center_assets">
                    <input class="seeker" id="seeker" name="seeker" type="range" max="100" min="0" step="1" value="0" >
                    <div class="icon play" id="play_pause_button">
                      <img src="img/play_icon.svg"/>
                    </div>
                    <div class="icon stop" id="quit_video_button">
                      <img src="img/stop_icon.svg"/>
                    </div>
                    <input class="seeker volume" id="volume" name="volume" type="range" value="50" max="100" min="0" step="1">
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="node_modules/backbone/backbone-min.js"></script>
        <script type="text/javascript" src="node_modules/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="node_modules/cordova-jquery/cordova-jquery.js"></script>
        <script type="text/javascript" src="node_modules/jquery-lazyload/jquery.scrollstop.js"></script>
        <script type="text/javascript" src="node_modules/jquery-lazyload/jquery.lazyload.js"></script>
        <script type="text/javascript" src="node_modules/gsap/src/minified/TweenMax.min.js"></script>
        <script type="text/javascript" src="node_modules/iscroll/build/iscroll-lite.js"></script>
        <script type="text/javascript" src="js/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/EaselJS/lib/easeljs-0.8.1.combined.js"></script>
        <script type="text/javascript" src="js/ui.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/navigation.js"></script>
    </body>
</html>
